PORT=3000
MONGODB_URI=mongodb://localhost:27017/staffhub
JWT_SECRET=ubah-ini-kepada-string-rahsia-anda

# Workplace: 16, Jalan Puncak Bayu 10, 81300 Johor Bahru, Johor (from Google Maps)
WORKPLACE_LAT=1.5434665
WORKPLACE_LNG=103.6123308
WORKPLACE_RADIUS_METERS=60
EXPECTED_CLOCK_IN_HOUR=9
EXPECTED_CLOCK_IN_MINUTE=0
ADMIN_SECRET=admin123
