# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# Android
**/android/.gradle/
**/android/**/local.properties
**/android/**/captures/

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Misc
*.log
*.swp
.DS_Store
